<%= simple_form_for @meta_analysis, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :description, wrapper: :horizontal_form %>
  <div class="form-actions form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit %>
      <%= link_to "Cancel", meta_analyses_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
